<div class="row">
    <div class="col-sm-12">
        <div class="bg-info p-1">
            Selected Product: {{ selectedProduct || '(None)' }}
            <!--Selected Product: {{ product.value || '(None)' }}-->
        </div>
        <table class="table table-sm table-bordered m-1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of getProducts(); let i = index" 
                    [class.bg-info]="getSelected(item)"
                    (mouseover)="selectedProduct = item.name">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label>Product Name</label>
            <!--<input class="form-control" (input)="selectedProduct = $event.target.value">-->
            <!--<input #product class="form-control" (input)="selectedProduct = product.value">-->
            <!--<input class="form-control" (input)="selectedProduct = $event.target.value" [value]="selectedProduct || ''">-->
            <input class="form-control" [(ngModel)]="selectedProduct" />
        </div>
    </div>
</div>